<input type="button" class="btn btn-info" id="btn1" value=" spedizioni in consegna" />
<input type="button" class="btn btn-info" id="btn2" value="spedizioni totali da cosegnare" />
<input type="button" class="btn btn-info" id="btn3" value="spedizioni effetuate per città" />
<table class="table" id="table"> </table>

@section scripts{

    <script src="~/Scripts/JavaScript.js"></script>
}