<input type="button" id="btn1" value="query1" />
<input type="button" id="btn2" value="query1" />
<input type="button" id="btn3" value="query1" />
<table class="table" id="table"> </table>

@section scripts{
    <script src="~/Scripts/JavaScriptCustom2.js"></script>
}