@{
    ViewBag.Title = "Index";
}
<input type="number" id="numeroOrdine" />
<input type="button" id="btnCerca" value="Cerca" />
<table class="table" id="table"> </table>

@section scripts{
    <script src="~/Scripts/JavaScriptCustom.js"></script>
}